/* CSS Document */

html {}

body {
  background: #262626;
  color: #000;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

header {
  background-color: #bc986a;
  position: fixed;
  top: 0;
  width: 100%;
}

.about {
  width: 90%;
  margin: auto;

  padding-top: 5px;
}

.globe {
  width: 16%;
  margin: 0 42% 0 42%;
}

.intro {
  border-bottom: 2px solid brown;
  width: 90%;
  margin: auto;
  padding-top: 5px;
}

.intro h3 {
  font-size: 1.15em;
  line-height: 1.2em;
  padding: 0 15px;
  font-family: "Didact+Gothic", sans-serif;

}

.reg-btn {
  width: 20%;
  margin: 5px 40% 10px 40%;
  background-color: brown;
  border: none;
  color: #FBEEC1;
  border-radius: 3px;
  text-align: center;
  font-size: 1.0em;
  line-height: 1.0em;
  cursor: pointer;
}

.reg-btn:hover {
  background-color: #262626;
  transition-duration: 0.5s;
}


.graz {
  width: 100%;
  margin: 0;
  padding-bottom: 50px;
  margin-top: 10px;

}

/******************Start Fixing here*********************/

/* constitution page ====== */

.wrapper {
  padding-top: 40px;
}

.col-inner {
  padding-top: 1px;
}

#main-const {
  width: 80%;
  margin: auto;
}

/* publications page ====== */

#dujournal h2 {
  font-size: 1.5em;
  line-height: 1.8em;
  /* at 120%, 28.8px, 28.8/16=1.8em */
  color: #262626;
}

#dujournal a {
  font-style: sans-serif;
  color: #444;
}






#main-about {
  font-size: 1.1em;
  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;
  /* 120% at 19.2px, (19.2/16px=1.2) */
  width: 80%;
  margin: auto;
  font-family: sans-serif;
  color: #262626;
}

.bulb {
  width: 20%;
  margin: 0 40% 0 40%;
}

.phil {
  width: 20%;
  margin: 0 40% 0 40%;

}

#main-pubs {
  font-size: 1.1em;
  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;
  /* 120% at 19.2px, (19.2/16px=1.2) */
  width: 80%;
  margin: auto;
  font-family: sans-serif;
  color: #262626;
}

#main-pubs p {
  font-family: sans-serif;
  color: #262626;
}

#constitution p {
  color: Black;
  font-family: sans-serif;

}

#history p {
  text-align: left;
  text-indent: 50px;
  font-size: 1.1em;
  line-height: 1.2em;
}




.button {
  display: block;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid brown;
  outline: none;

  font-family: sans-serif;
  transition: 0.4s;
}

#umind {
  display: block;
  width: 40%;
  margin: 0 auto 15px auto;
}

#about-us p {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.2em;
}

#qlist {
  border-bottom: 3px solid brown;
}

#qlist p {
  font-size: 1.1em;

  font-style: sans-serif;
  color: black;
  margin: 5px;
  text-align: center;

}





#athens {
  width: 35%;
  /* for mobile friendly */
  float: right;
  margin: 0 10px;

}

.active,
.accordion:hover {
  background-color: #444;
  color: #eee;
  /* change the color later */
}

.panel {
  padding: 0 0px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#amend {
  font-size: 1.0em;
  color: #444;
  font-family: sans-serif;
  margin-top: 1em;
  /* at 16px */
}

/* publications page ====== */

.pub h2 {
  font-family: "Libre+Baskerville";
  color: #262626;
  margin-bottom: 1px;
}

#pub1,
#pub2,
#pub3,
#pub4,
#pub5 {
  border-bottom: 2px solid brown;
}

.know {

  width: 36%;
  margin: 0 32%;

}

/*--------------------------------------2018 Congress-------*/

#main-cong18 {
  width: 80%;
  margin: auto;

}

#main-cong18 p {
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #262626;
}


/* events page ====== */

#events {
  width: 80%;
  margin: 0 10%;
  text-align: center;

}


#e-list {
  display: block;

  color: #242424;
  padding: 10px;


}

#e-list li {
  overflow: hidden;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.strip01 {
  width: 100%;
  padding-top: 20px;

}

.strip02 {
  width: 100%;


}

#peru {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 5px;
}









/***********END FIXES**********/

/*--------------------------------------------footer/flexbox----------*/

footer {
  background-color: #8d8741;
  background-color: ;
  color: #262626;
  font-family: 'Raleway', sans-serif;
}


.icon-bar {
  font-size: 20px;
  width: 100%;
  margin: 0;
  text-align: cnter;
}

.fa {
  padding: 10px;

}

.fa:hover {
  color: firebrick;
  transition-duration: 0.5s;
}


.content {
  margin-left: 75px;
  font-size: 28px;
}

.container-1 div {
  padding: 2px;

}

.box-1 {
  flex-basis: 25%;
  font-size: .95em;
}


.copywrite {
  text-align: center;
  font-size: .75em;
  line-height: .75em;
  padding-bottom: 5px;
}


.email {
  font-size: 1.0em;
  line-height: 1.5em;


}

.buttons {
  font-family: "arial", sans-serif;
}

/*-----------------------------------------headings/text----------*/

h1 {
  font-size: 1.5em;
  /* 24px, (24px/16px=1.5em) */
  line-height: 1.81em;
  /* 120% at ~29px, (29px/16px=1.81em) */
  font-weight: lighter;
  font-family: "Libre+Baskerville";
  text-align: center;
  color: #262626;
  padding-top: 40px;

}

h2 {
  font-size: 1.25zem;
  /* 20px, (20px/16px=1.25em) */
  line-height: 1.5em;
  /* 120% at 24px, (24px/16px=1.15em) */
  font-weight: lighter;
  font-family: "Libre+Baskerville";
  text-align: center;
  color: #262626;
}

h3 {
  font-size: 1em;
  /* 16px, (16px/16px=1em) */
  line-height: 1.25em;
  /* 20px, (20px/16px=1.25em) */
  font-weight: lighter;
  font-family: "Libre+Baskerville";
  text-align: center;
  color: #262626;
}

p {
  font-family: "arial" font-size: 1em;
  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;
  /* 120% at 19.2px, (19.2px/16px=1.2em)*/
  padding: 10px;
  /* ~4px, (4px/16px=0.25em) */
  text-align: center;
}

.banner,
.tab-banner {
  padding-top: 60px;
}


a {
  color: #262626;
}



/*----------------------------------------nav----------*/

.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  font-size: 1.04em;
  line-height: 2.0em;
  font-family: sans-serif;
  font-weight: 500;


}

nav:after {
  content: "";
  display: table;
  clear: both;
}



nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}


nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #bc986a;
}

/* Styling the links */

nav a {
  display: block;
  padding: 14px 20px;
  background-color: #bc986a;
  color: #FBEEC1;
  font-size: .95em;
  text-decoration: none;


}


nav ul li ul li:hover {
  background-color: #262626;

}

/* Background color change on Hover */

nav a:hover {
  background-color: #262626;
  color: #FBeec1;
  transition-duration: 1.0s;
}


nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
  display: inherit;

}

/* Fisrt Tier Dropdown */

nav ul ul li {
  width: 100%;
  float: none;
  display: list-item;
  position: relative;
}


nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}



li > a:after {
  content: ' +';
}

li > a:only-child:after {
  content: '';
}

/**end of nav**/

/*-------------------------------------------------resistration form-----------*/

.reg-header {
  background-color: darkcyan;
  text-align: left;
  border-radius: 4px;
  padding: 5px 10px 15px 10px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  font-size: .95em;
}

.info-header {

  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: .90em;
}

.info {
  background-color: darkcyan;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  font-family: 'Raleway', sans-serif;
}

.days {
  background-color: darkcyan;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 1px 10px 0 10px;
  font-size: .95em;
  font-family: 'Raleway', sans-serif;
}

.days-inner {
  width: 95%;
  margin: 0px auto 10px auto;
  border-bottom: 1px solid #fbeec1;
  font-size: 1.25em;
}

.cards {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.light {
  font-weight: bolder;
  color: #262626;
  font-family: 'Libre+Baskerville';

}

label {
  color: #262626;
  padding-left: 10px;

}



input:focus {
  background-color: lemonchiffon;

}



table {
  width: 75%;
  margin: auto;
  text-align: left;
  color: #262626;
}

td {
  padding: 10px;
}


input[type=text] {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel] {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

input [type="radio"] {}

input[type="submit"] {
  width: 100%;
  padding: 8px 8px;
  font-size: .80em;
  border-radius: 4px;
  background-color: darkcyan;
  color: #fbeec1;
  border: none;
  margin-bottom: 10px;
}

input[type="reset"] {
  width: 40%;
  padding: 8px 8px;
  margin: 0 30% 40px 30%;
  font-size: .80em;
  border-radius: 4px;
  background-color: darkcyan;
  color: #fbeec1;
  border: none;
}


input[type="submit"]:hover {
  background-color: #262626;
  transition-duration: 0.5s;
  cursor: pointer;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

input[type="reset"]:hover {
  background-color: #262626;
  transition-duration: 0.5s;
  cursor: pointer;
  width: 38%;
  margin-left: 31%;
  margin-right: 31%;
}


/*--------------------------------------------------------media queires----------*/

/*--------------------------------------------------------small phone---------*/

@media(max-width :375px) {

  nav ul li {
    display: block;
    width: 94%;

  }
}

/*---------------------------------------------------------big phones----------*/

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .banner {
    display: none;
  }

  .cell-banner {
    display: block;
    padding-top: 110px;
    width: 100%;
    margin: 0;
  }
  .reg-btn {
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 10px;
    border-radius: 5px;

  }
  .globe {
    width: 30%;
    margin: 5px 35% 0 35%;
  }
  .col-outer {
    background-color: #daad86;
    width: 100%;
  }

  .col-inner {
    width: 95%;
    margin: auto;
  }
  .hands-index {
    width: 60%;
    margin: 10px 20% 5px 20%;
    opacity: .8;
  }
  .logo {
    display: block;
    width: 85%;
    margin: auto;
    padding-top: 5px;
  }
  .icons {
    width: 70%;
    margin: 10px 15% 20px 15%;
  }
  .wrapper {
    padding-top: 70px;
  }
  footer {
    text-align: center;
  }
  #peru {
    display: block;
    width: 100%;
    margin: 0;
  }
  #cong2018 {
    width: 90%;
    margin: auto;
  }



  /*-----------------------------------------------registration form mobile-----------------*/
  .reg-outer {
    width: 100%;
    background-color: brown;
    padding: 5px;


  }

  .reg-inner {
    width: 90%;
    margin: auto;
  }

  .reg-header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: .95em;
    padding-bottom: 15px;
    margin-top: 100px;
  }
  .hands {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    opacity: .7;
  }
  /*---------------------------------------------nav for mobile-------------------------*/
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #bc986a;
    padding: 14px 20px;
    color: #fbeec1;
    font-size: .95em;
    text-decoration: none;
  }

  .toggle:hover {
    background-color: #262626;
    color: #fbeec1;
    transition-duration: 1.5s;
    cursor: pointer;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;

  }

  nav a:hover,
  nav ul ul ul a {
    transition-duration: 1.5s;
    cursor: pointer;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fbeec1;
    font-size: .95em;

  }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #daad86;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #262626;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
    transition-duration: 1.5s;

  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

/*----------------------------------------------tablets----------*/

@media(min-width:769px) {
  header {
    width: 100%;
    margin: 0;
    background-color: #8d8741;
  }
  nav {
    width: 95%;
    margin: auto;

  }
  .banner {
    display: none;
  }
  .logo {
    width: 60%;
    margin-left: 20%;
    padding-top: 10px;
  }

  .cell-banner {
    display: block;
    width: 70%;
    margin: auto;
    display: block;
  }
  .icons {
    width: 60%;
    margin: 10px 20% 20px 20%;
  }
  footer {
    text-align: center;
  }
  .col-outer {
    background-color: darkcyan;
    width: 100%;

  }
  .col-inner {
    background-color: #daad86;
    width: 100%;
    margin: auto;
  }
  .reg-outer {
    width: 100%;
    margin: auto;
    background-color: brown;
  }
  .reg-inner {
    width: 90%;
    margin: auto;
    background-color: #aa1923;
    padding-right: 10px;
    padding-left: 10px;
  }
  input[type="submit"] {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  input[type="submit"]:hover {
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
  }
  input[type="reset"] {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  input[type="reset"]:hover {
    width: 18%;
    margin-left: 41%;
    margin-right: 41%;
  }
  .reg-outer {
    width: 100%;
    margin: auto;
    background-color: #bc986a;
    padding-top: 20px;
  }
  .reg-inner {
    width: 45%;
    margin: auto;
    background-color: brown;
    padding: 5px 10px 0px 10px;
  }
  .hands {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    opacity: .7;
  }
  .hands-index {
    width: 30%;
    margin: 10px 35% 5px 35%;
    opacity: .8;
  }
}

/*----------------------------------------------laptops---------*/

@media (min-width: 990px) {
  header {
    width: 100%;
    margin: 0;
    background-color: #8d8741;
  }
  nav {
    width: 95%;
    margin: auto;

  }
  .banner {
    display: block;
    width: 100%;
    margin: 0;
  }
  .logo {
    width: 50%;
    margin: auto;
    padding-top: 8px;
  }
  .cell-banner {
    display: none;
  }

  .col-inner {
    background-color: #daad86;
    width: 100%;
    margin: auto;
  }
  .reg-outer {
    width: 100%;
    margin: auto;
    background-color: #daad86;

  }
  .reg-inner {
    width: 45%;
    margin: auto;
    background-color: brown;
    padding: 5px 10px 0px 10px;
  }

  input[type="submit"] {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  input[type="submit"]:hover {
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
  }
  input[type="reset"] {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  input[type="reset"]:hover {
    width: 18%;
    margin-left: 41%;
    margin-right: 41%;
  }
  .reg-btn {
    width: 16%;
    margin: 5px 42% 10px 42%;
    line-height: 2.0em
  }
  .hands-index {
    width: 30%;
    margin: 10px 35% 5px 35%;
    opacity: .8;
  }
  .hands {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    opacity: .7;
  }
  .container-1 {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .container-1 div {
    border: none;
    padding: 0 5px;
  }
  #main-about {
    width: 80%;
    margin: auto;
    font-family: "Didact+Gothic", sans-serif;
  }
  #main-events {
    font-size: 1.1em;
    line-height: 1.2em;
  }


  /*-------------------------------------------widescreens---------*/
  @media screen and (min-width: 1200px) {
    nav {
      width: 75%;
      margin: auto;
    }
    .banner {
      width: 100%;
      margin: 0;
    }
    .logo {
      width: 40%;
      margin: auto;
      padding-top: 8px;
    }
    .email {
      padding-left: 35px;
      font-size: 1.0em;

    }
    .container-1 {
      width: 75%;
      margin: auto;
    }
    .col-outer {
      width: 100%;
      margin: 0;
      background-color: #262626;
    }
    .col-inner {
      background-color: #daad86;
      width: 70%;
      margin: auto;
    }
    .reg-outer {
      width: 70%;
      margin: auto;
      background-color: #daad86;

    }
    .reg-inner {
      width: 40%;
      margin: auto;
      background-color: brown;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 3px;
    }
    .reg-btn {
      width: 16%;
      margin: 5px 42% 10px 42%;
      line-height: 2.0em
    }
    input[type="submit"] {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }
    input[type="submit"]:hover {
      width: 58%;
      margin-left: 21%;
      margin-right: 21%;
    }
    input[type="reset"] {
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
    }
    input[type="reset"]:hover {
      width: 18%;
      margin-left: 41%;
      margin-right: 41%;
    }
    .hands-index {
      width: 38%;
      margin: 10px 31% 5px 31%;
      opacity: .8;
    }
    .hands {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 10px;
      opacity: .7;
    }
  }
